ion-content {
  ion-item {
    h4 {
      width: 50%;
    }
    div {
      ion-text {
        text-align: center;
        font-size: 30px;
      }
    }
  }
  .centered {
    text-align: center;
  }
}
